
*{
    margin: 0;
}
.flexebol-contient{
    display: flex;
}
body{
    font-family: 'Poppins', sans-serif;
}
.About-container{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;
}
 h1{
    font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Pushster', cursive;
    font-size: 50px;
    line-height:100px;
}
.hap-with{
    width: 50%;
    padding-left: 5%;
}
.hap-with img{
    width:80%;
}
.orenge-color{
    font-size: 25px;
    color: orange;
}
span{
    color: orange;
}
.hith{
    margin-top:40px;
    padding-right:20px;
}
.Dream-Big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    background-image:linear-gradient(salmon, rgb(255, 83, 4)) ;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    margin-top: 50px;
    border-radius: 5px;
}
.Experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.Experiences-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 40px;
}
#student-one{
    border-left: 7px solid;
    border-image:linear-gradient(salmon,rgb(255, 29, 29));
    border-image-slice: 1;
}
#student-two{
    border-left: 7px solid;
    border-image:linear-gradient(rgb(4, 255, 129),rgb(2, 217, 255));
    border-image-slice: 1;
}
footer{
    width: 100%;
    text-align: center;
}
footer p{
    margin-top: 110px;
}